* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff8ef;
  color: #183d32;
}

.page {
  min-height: 100vh;
  display: flex;
}

.sidebar {
  width: 210px;
  background: #ffffff;
  padding: 22px;
  border-right: 1px solid #eee2d2;
}

.sidebar h3 {
  font-size: 15px;
  margin-bottom: 35px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.sidebar span {
  padding: 10px 12px;
  border-radius: 12px;
  font-size: 14px;
}

.sidebar .active {
  background: #fff0dd;
  color: #c74804;
  font-weight: bold;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.journal-card {
  width: 720px;
  background: white;
  padding: 32px;
  border-radius: 22px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}

.journal-card h1 {
  text-align: center;
  margin-bottom: 28px;
  font-size: 26px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: bold;
}

input,
select,
textarea {
  border: 1px solid #eadfce;
  border-radius: 12px;
  padding: 12px;
  font-size: 14px;
  outline: none;
}

textarea {
  height: 130px;
  resize: none;
}

.extra-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  margin: 10px 0 24px;
}

.upload-box,
.music-box {
  border: 1px dashed #e7cfae;
  border-radius: 16px;
  padding: 28px;
  text-align: center;
  background: #fffaf3;
  font-weight: bold;
}

button {
  display: block;
  margin-left: auto;
  background: #20804f;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 13px 28px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}